body{
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#logo-text{
    color: #330033;
}

#btn{
    background-color: #eab308;
}
#output{
    background-color: #330033;
    
}